
* {
    font-family: 'Exo', sans-serif;
}
    /* ---BASE STYLES--- */
body {
    background-color: snow;
}
main {
    margin: 0 auto;
}
header {
    background-color: steelblue;
    color: white;
}
nav {
    background-color: rgb(63, 53, 128);
}
h1 {
    font-weight: lighter;
}
h2 {
    font-size: 1.1rem;
}
h3 {
    padding-left: 1rem;;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
h4 {
    font-size: 1.1rem;
    color: rgb(65, 112, 173);
    margin: 0.5rem 0 auto;
    padding-top: 0.3rem;
}
p {
    font-size: 0.7rem;
}
a {
    font-size: 0.7rem;
}
.profile-image {
    border-radius: 50%;
    max-width: 2rem;
    height: auto;
}

    /* ---HEADER--- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 0.5rem;
}
header h3 {
    font-weight: lighter;
    font-size: 0.5rem;
    margin: auto;
}
.header-right {
    display: flex;
    justify-content: space-between;
    padding: auto 0.5rem;
}
.bell {
    fill: snow;
    width: 1.2rem;
    padding-top: 0.2rem;
    margin: auto 0.5rem;  
}
.header-right img {
    margin: auto 0.5rem; 
}
.header-right .profile-image {
    max-height: 2rem;
    margin: auto 0.5rem; 
}

    /* ---NAV BAR--- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding: 0.5rem 3rem;
}
nav img {
    width: 1.8rem;
}
nav img:hover {
    cursor: pointer;
}

    /* ---DASHBOARD--- */
.dashboard {
    display: inline-flex;
    height: 3rem;
    }
.alert-banner {
    width: 95%;
    height: 2.5rem;
    margin: 0.5rem auto;
    display: flex;
    background-color: steelblue;
    color: snow;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(12, 12, 12, 0.5);
}
.alert-banner-text {
    align-self: flex-end;
    margin: auto;
    margin-left: 0.5rem;
}
.alert-banner-close {
    align-self: flex-start;
    margin: auto;
    margin-right: 0.5rem;
}
.alert-banner-close:hover {
    cursor: pointer;
}
.headline {
    margin: auto;
    padding: 0 1rem;
    flex-grow: 1; 
}
.dashboard-search {
    margin: auto 0;
    padding: 0;
    height: 100%;
    flex-grow: 6;
}
.dashboard-search input {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    border-top: none;
    border: 2px solid lightgrey;
}

    /* ---TRAFFIC--- */
.traffic-nav {
    max-width: 75%;
    display: flex;
    justify-content: space-around;  
}
.traffic-nav li {
    list-style: none;
    font-size: 0.8rem;;
    margin-left: auto;
}
.widget-container-full canvas {
    width: 95%;
    height: 15rem;
}

/* ---Social Stats--- */
.social-stats {
    width: 95%
}
.social-boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.social-container {
    width: 100%;
    height: 5rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    background-color: rgb(241, 236, 236);
    border: 2px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.social-image {
    width: 1.5rem;
    height: 1.5rem;
    fill: snow;
    padding: 0.7rem;
    margin: 0.5rem 1.5rem;
    background-color: rgb(65, 112, 173);
    border-radius: 50%;
}

/* ---New Members--- */
.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid darkgray;
    padding: 1rem 0;
    margin: 1rem 0;
}
.members-container p {
    margin: 0.3rem 0 0 0;
}
.members-container a {
    text-decoration: none;
    color: rgb(65, 112, 173);
}

/* ---Recent Activity--- */

.activity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid darkgray;
    padding: 1rem 0;
    margin: 1rem 0;
}
.activity-container p {
    max-width: 75%;
    text-align: center;
    margin: 0.5rem 0 0 0;
}

/* ---Message User--- */
.form-field,
.form-area {
    display: flex;
    width: 95%;
    background-color: rgb(241, 236, 236);
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 0 0 0.5rem 0;
    margin: 1rem auto;
}
.form-field {
    height: 1.5rem;
}
.form-area {
    height: 7rem;
}

/* ---Settings--- */


.select-field {
    display: flex;
    width: 95%;
    height: 2.5rem;
    background-color: rgb(241, 236, 236);
    border: 2px solid lightgrey;
    border-radius: 10px;  
    padding: 0.5rem 0;
    margin: 1rem auto;
}
.button {
    color: snow;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    box-shadow: 0px 3px 5px rgb(12, 12, 12, 0.5);
}
.button-message:active,
.button-save:active {
    background-color: rgb(120, 149, 204);
}
.button-cancel:active {
    background-color: rgb(167, 164, 164);
}
.button-message {
    background-color: rgb(96, 124, 177);
    margin: 0.5rem auto;
    width: 95%;
}
.button-save {
    background-color: rgb(96, 124, 177);
    margin: 0.5rem auto;
}
.button-cancel {
    background-color: grey;
    margin: 0.5rem 0 2rem 0;
}
.save-cancel-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.save-cancel-buttons .button {
    width: 50%;
    margin: 5px;
}



/* ---LAYOUT---  */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}
.header {
    grid-area: header;
}
.navigation {
    grid-area: navigation;
}
.main {
    grid-area: main;
    display: grid; 
    margin-bottom: 2rem;
}


/* ---Media Queries--- */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    } 
    .main {
        grid-template-columns: 50%;
    }

    .navigation {
        height: auto;
        padding: 0.5em;
        margin: 0;
        flex-direction: column;
        justify-content: flex-start;
    }
    .navigation > a {
        padding: 1em;
    }

    .social-boxes {
        flex-direction: row;
        justify-content: space-between;
    }
    .daily  {
        grid-column: 1 / span 1;
    }
    .mobile {
        grid-column: 2 / span 1;
    } 
    .dashboard, .alert, .traffic, .social-stats,
    .members, .activity, .message, .settings  {
        grid-column: 1 / span 2;
    }
    
    
}
.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}
