
* {
    font-family: 'Exo', sans-serif;
}
    /* ---BASE STYLES--- */

body {
    background-color: snow;
}
header {
    background-color: steelblue;
    color: white;
}
nav {
    background-color: rgb(63, 53, 128);
}
h1 {
    font-weight: lighter;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
h4 {
    font-size: 1.3rem;
    color: rgb(65, 112, 173);
    margin: 0.5rem 0 auto;
    padding-top: 0.3rem;
}
p {
    font-size: 0.9rem;
}
a {
    font-size: 0.8rem;
}
.profile-image {
    border-radius: 50%;
    max-width: 5rem;
    height: auto;
}

    /* ---HEADER--- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
}
header h3 {
    font-weight: lighter;
    font-size: 0.7rem;
    margin: auto;
}
.header-right {
    display: flex;
    justify-content: space-between;
    padding: auto 0.5rem;
}
.alert-dot {
    display: flex;
    position: absolute;
    top: 0.4rem;
    margin-left: 1.4rem;
    margin-top: .5rem;
    background: rgb(23, 206, 23);
    border-radius: 50%;
    width: 5px;
    height: 5px;
}
.bell {
    fill: snow;
    width: 1.7rem;
    padding-top: 0.2rem;
    margin: auto 0.5rem;  
}
.bell svg {
    transition: 0.5s ease-in-out;
}
.bell svg:hover {
    cursor: pointer;
    transform: rotate(10deg);
}
.header-right img {
    margin: auto 0.5rem; 
}
.header-right .profile-image {
    max-height: 3rem;
    margin: auto 0.5rem; 
}

    /* ---NAV BAR--- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 0.5rem 3rem;
}
nav img {
    width: 1.8rem;
}
nav img:hover {
    cursor: pointer;
}

    /* ---DASHBOARD--- */

.dashboard {
    display: inline-flex;
    width: 100%;
    height: 3.5rem;
    }
.alert {
    display: flex;
    align-self: center;
}
.alert-banner {
    width: 90%;
    height: 2.5rem;
    padding: 0.3rem;
    margin: 1rem auto;
    display: flex;
    background-color: steelblue;
    color: snow;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(12, 12, 12, 0.5);
}
.alert-banner-text {
    align-self: flex-end;
    padding-left: 1rem;
    margin: auto;
    margin-left: 0.5rem;
}
.alert-banner-close {
    align-self: flex-start;
    padding-right: 1rem;
    margin: auto;
    margin-right: 0.5rem;
}
.alert-banner-close:hover {
    cursor: pointer;
}
.headline {
    margin: auto;
    padding: 0 1rem;
    flex-grow: 1; 
}
.dashboard-search {
    margin: auto 0;
    padding: 0;
    height: 100%;
    flex-grow: 6;
}
.dashboard-search input {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    border-top: none;
    border: 2px solid lightgrey;
}

    /* ---TRAFFIC--- */

.traffic-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline-start: 0;
}
.traffic-nav li {
    list-style: none;
    padding: 0.5rem;
    font-size: 1rem;;
}
.traffic-nav li:hover {
    cursor: pointer;
}
.chart-on {
    background-color: rgb(46, 173, 68);
    color: snow;
    padding: 0.5rem;
    border-radius: 10px;
}

/* ---Social Stats--- */
.social-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.social-container {
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
    background-color: rgb(241, 236, 236);
    border: 2px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.social-image {
    width: 1.5rem;
    height: 1.5rem;
    fill: snow;
    padding: 0.7rem;
    margin: 0.5rem 1.5rem;
    background-color: rgb(65, 112, 173);
    border-radius: 50%;
}

/* ---New Members--- */
.members-container:last-child {
    border-bottom: none;
}
.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(90, 90, 90, 0.25);
    padding: 1rem 0;
    margin: 1rem 0;
}
.members-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.members-container p {
    margin: 0.3rem 0 0 0;
}
.members-container a {
    text-decoration: none;
    color: rgb(65, 112, 173);
}

/* ---Recent Activity--- */
.activity-button {
    display: none;
}

.activity-container:last-child {
    border-bottom: none;
}
.activity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(90, 90, 90, 0.25);
    padding: 1rem 0;
    margin: 1rem 0;
}
.activity-container p {
    max-width: 75%;
    text-align: center;
    margin: 0.5rem 0 0 0;
}

/* ---Message User--- */

form {
    display: flex;
    flex-direction: column;
}

.form-field,
.form-area {
    border-bottom: 1px solid rgba(90, 90, 90, 0.25);
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.form-field {
    height: 1.5rem;
}
.form-area {
    height: 7rem;
    resize: none;
}


/* ---Settings--- */

.select-field {
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: rgb(233, 233, 233);
    border: 2px solid lightgrey;
    border-radius: 10px;  
    padding: 0.5rem 0;
    margin: 1rem 0;
}
.button {
    color: snow;
    height: 3.5rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-message,
.button-save  {
    background-color: rgb(96, 124, 177);
}
.button-save {
    margin: 0.5rem auto;
}
.button:hover {
    box-shadow: 0px 3px 5px rgb(12, 12, 12, 0.5);
}
.button-message:active,
.button-save:active {
    background-color: rgb(120, 149, 204);
}
.button-cancel:active {
    background-color: rgb(167, 164, 164);
}
.button-cancel {
    background-color: grey;
    margin: 0.5rem 0 2rem 0;
}
.save-cancel-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
}
.save-cancel-buttons .button {
    width: 50%;
    margin: 0 5px;
}


/* ---Toggle Switches--- */

.switch-light {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
label strong {
    flex-basis: 75%;
}
label.switch-light.switch-ios {
    margin-top: 1rem;
    height: 3rem;
}
span {
    flex-basis: 33%;
}
span > span {
    margin-top: 0.2rem;
}
span > a {
    margin-top: 0.1rem;
}

.switch-ios.switch-light > span {
    height: 3rem;
    border: 5px grey solid;
}

/* ---LAYOUT---  */

section:last-child {
    border-bottom: none;
}
section {
    margin: 0rem 1rem;
    border-bottom: 2px solid rgba(90, 90, 90, 0.25);
}

canvas {
    margin: 1rem;
    max-width: 100%;
    min-height: 10vh;
    max-height: 35vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}
.header {
    grid-area: header;
}
.navigation {
    grid-area: navigation;
}
.main {
    grid-area: main;
    margin-bottom: 2rem;
}


/* ---Media Queries--- */
/* ---Tablet View---  */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    } 
    .main {
        display: grid; 
        grid-template-columns: 50%;
    }
    .navigation {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        padding: 0.5em;
        margin: 0;
    }
    .navigation > a {
        padding: 1em;
    }
    .dashboard, .alert, .traffic, .social-stats,
    .members, .activity, .message, .settings  {
        grid-column: 1 / span 2;
    }  
    .social-boxes {
        flex-direction: row;
        justify-content: space-between;
    }
    .social-container {
        margin: 1rem;
    }
    .daily  {
        grid-column: 1 / span 1;
    }
    .mobile {
        grid-column: 2 / span 1;

    }
    .traffic-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .members-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .members-text {
        margin-left: 1rem;
        align-items: flex-start;
        flex-basis: 80%;
    }
    .activity-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .activity-button {
        font-size: larger;
        display: block;
    }
    .activity-button:hover {
        cursor: pointer;
    }
    label.switch-light.switch-ios {
        max-width: 50%;
    }
    .switch-light {
        margin: 0;
    }
}

/* ---Media Queries--- */
/* ---Desktop View---  */

@media (min-width: 1024px) {
    .members, .message   {
        grid-column: 1 / span 1;
    }  
    .activity, .settings {
        grid-column: 2 / span 1;
    }
    section:last-child {
        margin: 0rem 1rem;
        border-bottom: 2px solid rgba(90, 90, 90, 0.25);
    }
    .members {
        margin-right: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .activity {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-left: 2px solid rgba(90, 90, 90, 0.25);
        padding-left: 1rem;
    }
    .activity-container p {
        text-align: start;
    }
    .settings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}