
* {
    font-family: 'Exo', sans-serif;
}

/* ---LAYOUT---  */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}
main {
    grid-area: main;
    margin-bottom: 2rem;
}

    /* ---BASE STYLES--- */
body {
    background-color: snow;
}
section {
    max-width: 90%;
    margin: 0 auto;
}
header {
    background-color: steelblue;
    color: white;
}
nav {
    background-color: rgb(63, 53, 128);
}
h1 {
    font-weight: lighter;
}
h2 {
    font-size: 1.1rem;
}
h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
h4 {
    font-size: 1.1rem;
    color: rgb(65, 112, 173);
    margin: 0.5rem 0 auto;
    padding-top: 0.3rem;
}
p {
    font-size: 0.7rem;
}
a {
    font-size: 0.7rem;
}
.profile-image {
    border-radius: 50%;
    max-width: 2rem;
    height: auto;
}
placeholder {

}

    /* ---HEADER--- */
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 0.5rem;
}
header h3 {
    font-weight: lighter;
    font-size: 0.5rem;
    margin: auto;
}
.header-right {
    display: flex;
    justify-content: space-between;
    padding: auto 0.5rem;
}
.bell {
    fill: snow;
    width: 1.2rem;
    padding-top: 0.2rem;
    margin: auto 0.5rem;  
}
.header-right img {
    margin: auto 0.5rem; 
}
.header-right .profile-image {
    max-height: 2rem;
    margin: auto 0.5rem; 
}

    /* ---NAV BAR--- */
nav {
    grid-area: navigation;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding: 0.5rem 3rem;
}
nav img {
    width: 1.8rem;
}
nav img:hover {
    cursor: pointer;
}

    /* ---DASHBOARD--- */
.dashboard {
    display: flex;
    height: 3rem;
    }
.headline {
    margin: auto;
    padding: 0 1rem;
    flex-grow: 1; 
}
.dashboard-search {
    margin: auto 0;
    padding: 0;
    height: 100%;
    flex-grow: 6;
}
.dashboard-search input {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    border-top: none;
    border: 2px solid lightgrey;
}

    /* ---TRAFFIC--- */
.traffic-nav {
    max-width: 75%;
    display: flex;
    justify-content: space-around;  
}
.traffic-nav li {
    list-style: none;
    font-size: 0.8rem;;
    margin-left: auto;
}
.widget-container-full canvas {
    width: 100%;
    height: 15rem;
}

/* ---Social Stats--- */
.social-container {
    width: auto;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(241, 236, 236);
    border: 2px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.social-image {
    width: 1.5rem;
    height: 1.5rem;
    fill: snow;
    padding: 0.7rem;
    margin: 0.5rem 1.5rem;
    background-color: rgb(65, 112, 173);
    border-radius: 50%;
}

/* ---New Members--- */
.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid darkgray;
    padding: 1rem 0;
    margin: 1rem 0;
}
.members-container p {
    margin: 0.3rem 0 0 0;
}
.members-container a {
    text-decoration: none;
    color: rgb(65, 112, 173);
}

/* ---Recent Activity--- */

.activity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid darkgray;
    padding: 1rem 0;
    margin: 1rem 0;
}
.activity-container p {
    max-width: 75%;
    text-align: center;
    margin: 0.5rem 0 0 0;
}

/* ---Message User--- */
.form-field,
.form-area {
    display: flex;
    width: 100%;
    background-color: rgb(241, 236, 236);
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 0 0 0.5rem 0;
    margin: 1rem 0;
}
.form-field {
    height: 1.5rem;
}
.form-area {
    height: 7rem;
}

/* ---Settings--- */

.select-field {
    display: block;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(241, 236, 236);
    border: 2px solid lightgrey;
    border-radius: 10px;  
    padding: 0.5rem 0;
    margin: 2rem 0 1rem 0;
}
.button {
    color: snow;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}
.button:hover {
    box-shadow: 0px 3px 5px rgb(12, 12, 12, 0.5);
}
.button-message:active,
.button-save:active {
    background-color: rgb(120, 149, 204);
}
.button-cancel:active {
    background-color: rgb(167, 164, 164);
}
.button-message {
    background-color: rgb(96, 124, 177);
    margin: 0.5rem 0;
    width: 100%;
}
.button-save {
    background-color: rgb(96, 124, 177);
    margin: 0.5rem 0;
}
.button-cancel {
    background-color: grey;
    margin: 0.5rem 0 2rem 0;
}
.save-cancel-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.save-cancel-buttons .button {
    width: 50%;
    margin: 5px;
}